<!--kacheln oder tabelle?-->
<mat-grid-list cols="5" rowHeight="250px" gutterSize="16px" class="salesman-grid">
    <mat-grid-tile *ngFor="let salesman of salesmen">
        <mat-card class="salesman-card">
            <mat-card-header>
                <mat-icon mat-card-avatar class="salesman-avatar">person</mat-icon>
                <mat-card-title>{{ salesman.firstname }} {{ salesman.lastname }}</mat-card-title>
                <mat-card-subtitle>Employee ID: {{ salesman.code }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Department:</strong> {{ salesman.department }}</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="['/salesmen', salesman.sid]" class="view-details-btn">
                    <mat-icon>info</mat-icon> View Details
                </a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


<!--<table mat-table [dataSource]="salesmen" class="mat-elevation-z8 cdk-table">
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.firstname }} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.lastname }} </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> SID </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.sid }} </td>
    </ng-container>

    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.department }} </td>
    </ng-container>

    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let salesman">
            <a [routerLink]="['/salesmen', salesman.sid]">View Details</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->

