.container {
    width: 600px;
    margin: 0 auto;
}

.info-box {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

#year {
    margin-left: 10px;
}

fieldset {
    padding: 15px;
    margin-bottom: 20px;
}

fieldset legend {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: Arial,sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

input {
    width: 130px;
    padding: 5px;
    margin: 5px 0;
}

button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff9800;
}

button:disabled {
    background-color: #ccc;
}
