<table mat-table [dataSource]="salesmen" class="mat-elevation-z8 cdk-table">
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.firstname }} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.lastname }} </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> SID </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.sid }} </td>
    </ng-container>

    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.department }} </td>
    </ng-container>

    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let salesman"> {{ salesman.year }} </td>
    </ng-container>

    <ng-container matColumnDef="records">
        <th mat-header-cell *matHeaderCellDef>Performance Record</th>
        <td mat-cell *matCellDef="let salesman">
            <a [routerLink]="['/approve-performance-record', salesman.sid, salesman.year]" class="record-link">View Record</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
