.container {
    width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.info-box {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

fieldset {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    color: white;
}

.total-bonus-container {
    border: 2px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* CEO Approval Styling */
.ceo-approval-container {
    text-align: center;
}

.ceo-approval-status {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    min-width: 80px;
}

.approved {
    background-color: #4CAF50;
    color: white;
}

.not-approved {
    background-color: #D32F2F;
    color: white;
}
