<div class="container">
    <h1>Performance Evaluation</h1>

    <fieldset>
        <legend><strong>General Information</strong></legend>
        <div class="info-box">
            <div *ngIf="salesman">
                <p><strong>Name: </strong>{{ salesman.firstname }} {{ salesman.lastname }}</p>
                <p><strong>Employee ID: </strong>{{ salesman.code }}</p>
                <p><strong>Department: </strong>{{ salesman.department }}</p>
                <p><strong>Year: </strong>{{ performanceData?.year }}</p>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend><strong>A.) Orders Evaluation</strong></legend>
        <table>
            <thead>
                <tr>
                    <th>Name of Product</th>
                    <th>Client</th>
                    <th>Client Ranking</th>
                    <th>Items</th>
                    <th>Bonus</th>
                </tr>
            </thead>
            <tr *ngFor="let order of salesOrders">
                <td>
                    <!-- Anzeige des Produktnamens -->
                    {{ order.productName }}
                </td>
                <td *ngFor="let client of order.clients">
                    <!-- Anzeige des Kundennamens -->
                    {{ client.customerName }}
                </td>
                <td *ngFor="let client of order.clients">
                    <!-- Anzeige des Kunden-Rankings -->
                    {{ client.rating }}
                </td>
                <td *ngFor="let client of order.clients">
                    <!-- Anzeige der bestellten Menge (items) -->
                    {{ client.quantity }}
                </td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend><strong>B.) Social Performance Evaluation</strong></legend>
        <table>
            <thead>
            <tr>
                <th>Competence</th>
                <th>Target Value</th>
                <th>Actual Value</th>
                <th>Bonus</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competence of performanceData.competences">
                <td>{{ competence.name }}</td>
                <td>{{ competence.targetValue }}</td>
                <td>{{ competence.actualValue }}</td>
                <td>{{ competence.bonus }}</td>
            </tr>
            </tbody>
        </table>
    </fieldset>

    <div class="total-bonus-container">
        <p><strong>Total Bonus (parts A and B): </strong>{{ performanceData.totalBonus }}</p>
    </div>

    <fieldset>
        <legend><strong>Remarks</strong></legend>
        <p>{{ performanceData.remark }}</p>
    </fieldset>

    <fieldset class="ceo-approval-container">
        <legend><strong>CEO Approval</strong></legend>
        <p class="ceo-approval-status" [ngClass]="{ 'approved': performanceData.ceoApproval, 'not-approved': !performanceData.ceoApproval }">
            {{ performanceData.ceoApproval ? 'Yes' : 'No' }}
        </p>
    </fieldset>
</div>

<div *ngIf="!performanceData">
    <p>Loading...</p>
</div>
