<div class="container">
    <h1>{{ isApprovalPage ? 'Bonus Computation Sheet' : 'Performance Evaluation' }}</h1>

    <fieldset>
        <legend><strong>General Information</strong></legend>
        <div class="info-box">
            <div *ngIf="salesman">
                <p><strong>Name: </strong>{{ salesman.firstname }} {{ salesman.lastname }}</p>
                <p><strong>Employee ID: </strong>{{ salesman.code }}</p>
                <p><strong>Department: </strong>{{ salesman.department }}</p>
                <p><strong>Year: </strong>{{ performanceData?.year }}</p>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend><strong>A.) Orders Evaluation</strong></legend>
        <table>
            <thead>
            <tr>
                <th>Name of Product</th>
                <th>Client</th>
                <th>Client Ranking</th>
                <th>Items</th>
                <th>Bonus</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of performanceData.productSales">
                <td>{{ product.productName }}</td>
                <td *ngFor="let client of product.clients">{{ client.customerName }}</td>
                <td *ngFor="let client of product.clients">{{ client.rating }}</td>
                <td *ngFor="let client of product.clients">{{ client.quantity }}</td>
                <td *ngFor="let client of product.clients">{{ client.bonus }}</td>
            </tr>
            </tbody>
        </table>
        <div class="bonus-container">
            <p><strong>Total Bonus for part A): </strong>{{ performanceData.bonusA }}</p>
        </div>
    </fieldset>

    <fieldset>
        <legend><strong>B.) Social Performance Evaluation</strong></legend>
        <table>
            <thead>
            <tr>
                <th>Competence</th>
                <th>Target Value</th>
                <th>Actual Value</th>
                <th>Bonus</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competence of performanceData.competences">
                <td>{{ competence.name }}</td>
                <td>{{ competence.targetValue }}</td>
                <td>{{ competence.actualValue }}</td>
                <td>{{ competence.bonus }}</td>
            </tr>
            </tbody>
        </table>
        <div class="bonus-container">
            <p><strong>Total Bonus for part B): </strong>{{ performanceData.bonusB }}</p>
        </div>
    </fieldset>

    <div class="bonus-container">
        <p><strong>Total Bonus (parts A and B): </strong>{{ performanceData.totalBonus }}</p>
    </div>

    <fieldset *ngIf="isApprovalPage">
        <legend><strong>Remarks</strong></legend>
        <p>{{ performanceData.remark }}</p>
        <input class="remark-input" *ngIf="isApprovalPage" type="text" [(ngModel)]="remark" placeholder="Enter Remark">
    </fieldset>

    <fieldset *ngIf="!isApprovalPage" class="approval-container">
        <legend><strong>Status</strong></legend>
        <p class="approval-status" [ngClass]="{
       'waiting': performanceData.approvalStatus === ApprovalStatus.Waiting,
       'ceo-approved': performanceData.approvalStatus === ApprovalStatus.ApprovedByCEO,
       'employee-approved': performanceData.approvalStatus === ApprovalStatus.ApprovedByEmployee
        }">
            {{ performanceData.approvalStatus }}
        </p>
    </fieldset>

    <button *ngIf="isApprovalPage" mat-raised-button color="primary" (click)="approveRecord(ApprovalStatus.ApprovedByCEO)">Approve Record</button>

    <button *ngIf="isSalesmanView" mat-raised-button color="primary" (click)="approveRecord(ApprovalStatus.ApprovedByEmployee)"
            [disabled]="performanceData?.approvalStatus === ApprovalStatus.ApprovedByEmployee">Confirm Record</button>
</div>

<div *ngIf="!performanceData">
    <p>Loading...</p>
</div>
