<div *ngIf="salesman" class="salesman-details-container">
    <div class="salesman-header">
        <div class="salesman-info">
            <div>
                <h2>{{ salesman.firstname }} {{ salesman.lastname }}</h2>
                <p class="employee-id"><strong>Employee ID:</strong> {{ salesman.code }}</p>
            </div>
        </div>
        <button *ngIf="isHrView" mat-raised-button color="primary" [routerLink]="['/add-performance-record', salesman.sid]" class="add-record-btn">
            ➕ Add Performance Record
        </button>
    </div>

    <div class="performance-title-box">
        <h2>📊 Performance Records</h2>
    </div>

    <div class="performance-records">
        <div class="performance-cards">
            <mat-card *ngFor="let perf of performanceData" class="performance-card"
                      [ngClass]="{
                      'rejected-ceo-card': perf.approvalStatus === ApprovalStatus.RejectedByCEO,
                      'rejected-employee-card': perf.approvalStatus === ApprovalStatus.RejectedByEmployee,
                      'approved-employee-card': perf.approvalStatus === ApprovalStatus.ApprovedByEmployee
                       }">
                <mat-card-header>
                    <mat-card-title>Year: {{ perf.year }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <a *ngIf="isHrView && (perf.approvalStatus === ApprovalStatus.RejectedByEmployee ||
                            perf.approvalStatus === ApprovalStatus.RejectedByCEO)"
                           [routerLink]="['/update-rejected-performance-record', salesman.sid, perf.year]" class="view-record-link">
                            🔍 View Record
                        </a>
                        <a *ngIf="isHrView && (perf.approvalStatus !== ApprovalStatus.RejectedByEmployee &&
                            perf.approvalStatus !== ApprovalStatus.RejectedByCEO)"
                           [routerLink]="['/performance-record', salesman.sid, perf.year]" class="view-record-link">
                            🔍 View Record
                        </a>
                        <a *ngIf="!isHrView" [routerLink]="['/my-performance-records', salesman.sid, perf.year]" class="view-record-link">
                            🔍 View Record
                        </a>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="!salesman">
    <p>Loading...</p>
</div>

